<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" lang="en-us"/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1"/><!-- Use Chrome Frame if installed -->
	<!--[if lt IE 9]> <script src="/thundr/javascript/lib/html5shiv.js"></script> <![endif]--><!-- Enable HTML5 in IE8 and below -->
	<title>thundr - {{current_page.meta.title}}</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<meta name="description" content="{{current_page.description}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Allows website to respond to natural agent size -->
	<meta name="keywords" content="{{current_page.keywords}}"/>
	
	<meta name="google-site-verification" content="V7Os0LLLfRti7XGzTPnlO_FfsjrL6Ldi3IKeq0tVGaY" />
	
	<!--
	<t:style src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css"/>
	<t:style src="/thundr/styles/lib/bootstrap/bootstrap.css"/>
	-->
	<link rel="stylesheet" href="styles/lib/bootstrap/bootstrap.css"></link>
	<link rel="stylesheet" href="styles/main.css"></link>
	<link rel="stylesheet" href="styles/lib/font/font-awesome.css"></link>
	<!--[if IE 7]>
	<link rel="stylesheet" href="/thundr/styles/lib/font/font-awesome-ie7.css">
	<![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<!--
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
	-->
	<script src="scripts/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="scripts/vendor/bootstrap/bootstrap-collapse.js"></script>
	<script src="scripts/vendor/bootstrap/bootstrap-dropdown.js"></script>
	<script src="scripts/vendor/bootstrap/bootstrap-tab.js"></script>
</head>
<body>
	 <header class="container">
		<nav class="navbar">
			<div class="navbar-inner">
				<div class="navbar-top">
					<a class="brand" href="index.html"><img src="images/logoFullSmall.png"/></a>

					<ul class="nav pull-right" role="navigation">
						<li><a href="#table-of-contents">Table of contents</a></li>
					</ul>
				</div>
			</div>

		</nav>
		
		<div class="navbar-bottom tabbable">
			<ul class="nav nav-pills modules">
				<li class="active"><a href="#tab-thundr" data-toggle="tab">thundr</a></li>
				<li><a href="#tab-gae" data-toggle="tab">GAE</a></li>
			</ul>

			<div class="tab-content well">
				<div class="tab-pane active" id="tab-thundr">
					{{#each pages}} {{#if meta.nav_position}}
						<ul class="nav nav-list" role="navigation">
							
							<li class="nav-header {{#equal meta.id ../../current_page.meta.id}}active{{/equal}}">
								<a href="{{meta.href}}">
									{{#if meta.nav_title}}
										{{meta.nav_title}}
									{{else}}
										{{ucfirst meta.title}}
									{{/if}}
								</a>
							</li>

							{{#if sections}}

								{{#if meta.nav_has_overview}}
								<li><a href="{{meta.href}}">Overview</a></li>
								<li class="divider"></li>
								{{/if}}

								{{#each sections}}
									{{#if meta.title}}
										
										{{#if meta.starts_new_category}}<li class="divider"></li>{{/if}}


										<li><a href="{{../../meta.href}}#{{meta.id}}">
											{{meta.title}}
											{{#if meta.is_advanced_topic}}
											<span class="label label-info">Advanced</span>
											{{/if}}
										</a></li>
									
									{{/if}}
								{{/each}}
							
							{{/if}}

					</ul>
					{{/if}} {{/each}}
				</div>
				<div class="tab-pane" id="tab-gae">
					GAE pane
				</div>
			</div>
		</div>
	</header>

	<article id="" class="container">
	{{{ current_page.content }}}
	</article>
	
	<footer class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<span class="navbar-text pull-right">
					Brought to you by <a href="http://www.3wks.com.au" title="3wks"><img class="threewksLogo" src="http://3wks.com.au/images/3wks_logo_2.png"/></a>
				</span>
				<span class="navbar-text">
					<a href="mailto:nick@3wks.com.au?Subject=thundr">
						<i class="icon icon-envelope-alt"></i> 
						Get in touch
					</a>
				</span>
				<span class="navbar-text">
					<a href="https://groups.google.com/forum/?fromgroups#!forum/thundr-framework">
						<i class="icon icon-group"></i> 
						Join us on Google Groups 
					</a>
				</span>
			</div>
		</div>
	</footer>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37139757-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

	<!-- build:js scripts/amd-app.js -->
	<script data-main="scripts/main" src="scripts/vendor/require.js"></script>
	<!-- endbuild -->
</body>
</html>
		