<div class="page-header">
	<h1>thundr <small>{{meta.title}}</small></h1>
</div>

<section id="page-overview" class="overview">
	{{{marked content}}}
</section>

{{#if sections}} {{#each sections}}

{{#if meta.template}}
	
	{{{content}}}

{{else}}
	<section id="{{meta.id}}">
		{{{marked content}}}
	</section>
{{/if}}


{{/each}} {{/if}}